html {
	font-family: sans-serif;
	overflow-x: auto;
}
body {
	overflow-x: hidden;
}
.low {
	margin-top: 5rem;
}
.btn {
	margin-top: 3rem;
}
[type="number"] {
	text-align: center;
}
#chartContainer {
	position: relative;
	overflow-x: auto;
}
#log-container {
	max-height: 30ch;
	overflow-y: auto;
}
.addProcess {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	i {
		border-radius: 50%;
		background-color: white;
		color: #9e9e9e;
		transition: color 0.1s ease-in-out;
		&::selection {
			background-color: transparent;
		}
	}
	&::selection,
	&::before {
		background-color: transparent;
	}
	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #9e9e9e;
		z-index: -1;
		transition: background-color 0.3s ease-in-out;
		transform-origin: center;
	}
	&:hover {
		i {
			color: #26a69a;
		}
		&::before {
			background-color: #26a69a;
		}
	}
}

.highlight-row {
	background-color: rgb(242, 242, 242) !important;
}

#chartContainer {
	// outline: 1px solid #9e9e9e;
	overflow-x: auto;
	overflow-y: hidden;
	#chart {
		position: relative;
		width: 300px;
		height: 100px;
	}
}

#chart-legends {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
	@media (max-width: 768px) {
		gap: 1rem;
	}
	& > .legend {
		width: max-content;
		padding: 0.2rem 0.5rem 0.2rem 3rem;
		color: white;
	}
}
