$colors: #36a2eb, #ff6384, #ff9f40, #4bc0c0, #9966ff, #ffcd56, #c9cbcf, #b00004, #2d5a6a, #65af50;

html {
	font-family: sans-serif;
	overflow-x: auto;
}
body {
	overflow-x: hidden;
}
.low {
	margin-top: 5rem;
}
.btn {
	margin-top: 3rem;
}
[type="number"] {
	text-align: center;
}
#chartContainer {
	position: relative;
	overflow-x: auto;
}
#log-container {
	max-height: 30ch;
	overflow-y: auto;
}
.addProcess {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	i {
		border-radius: 50%;
		background-color: white;
		color: #9e9e9e;
		transition: color 0.1s ease-in-out;
		&::selection {
			background-color: transparent;
		}
	}
	&::selection,
	&::before {
		background-color: transparent;
	}
	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #9e9e9e;
		z-index: -1;
		transition: background-color 0.3s ease-in-out;
		transform-origin: center;
	}
	&:hover {
		i {
			color: #26a69a;
		}
		&::before {
			background-color: #26a69a;
		}
	}
}

#chartContainer {
	// outline: 1px solid #9e9e9e;
	overflow-x: auto;
	overflow-y: hidden;
	#chart {
		position: relative;
		width: 300px;
		height: 100px;
	}
}

#chart-legends {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
	@media (max-width: 768px) {
		gap: 1rem;
	}
	& > .legend {
		width: max-content;
		padding: 0.2rem 0.5rem 0.2rem 3rem;
		color: white;
	}
}

@for $i from 1 through length($colors) {
	span.p#{$i}log {
		background: nth($colors, $i);
		color: white;
		padding: 0.2rem 0.5rem;
		font-style: normal;
	}

	// Puts a colour coded background on the table rows, based on gantt
	tr.p#{$i}row:hover,
	tr.p#{$i}row.highlight-row {
		$red: red(nth($colors, $i));
		$green: green(nth($colors, $i));
		$blue: blue(nth($colors, $i));

		background-color: rgba($red, $green, $blue, 0.2) !important;
	}
}
.log {
	.reason {
		font-style: italic;
	}
}

.preloader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background-color: white;
	overflow: hidden;
	p {
		font-size: 1.5rem;
		font-style: italic;
	}
	.gear-wrapper {
		height: 100px;
		width: 100px;
		position: relative;
	}

	.small-gear {
		position: absolute;
		bottom: 0;
		right: 0;
		animation: rotate 2s linear infinite;
	}
	.large-gear {
		position: absolute;
		top: 0;
		left: 0;
		animation: rotate 2s linear infinite reverse;
	}
}

.optgroup {
	pointer-events: none;
}

.tableIOWrapper {
	width: 100%;
	overflow-x: auto;
}

#tableIO,
.outputTableDisk {
	tr {
		border-bottom: none;
		th {
			min-width: 75px;
		}
		td {
			padding: 0.5rem;
			border-left: 1px solid rgba(0, 0, 0, 0.2);
			border-right: 1px solid rgba(0, 0, 0, 0.2);
			min-width: 75px;
			&.initial,
			&.end {
				position: relative;
				&::after {
					// content: " (Initial)";
					content: "";
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background-color: #26a69a;
					position: absolute;
					left: 10%;
					top: 10%;
				}
			}
			&.end::after {
				background-color: red;
			}
		}
	}
}

.total {
	padding: 0.2rem 0.5rem;
	width: max-content;
	margin-top: 3rem;
}

.horizontal-scroll {
	&::-webkit-scrollbar {
		/* horizontal scroll bar style */
		height: 0.5rem;
		background-color: #f5f5f5;
	}
	&::-webkit-scrollbar-thumb {
		/* horizontal scroll bar style */
		background-color: #c9cbcf;
		// border-radius: 0.5rem;
		&:hover {
			// background-color: #9e9e9e;
			background-color: #26a69a;
		}
	}
	&::-webkit-scrollbar-track {
		/* horizontal scroll bar style */
		background-color: #f5f5f5;
	}
}

.tabs {
	.tab > a,
	.tab > a.active {
		color: #26a69a;
		&:hover {
			color: #26a69a;
		}
		&:focus {
			background-color: rgba(38, 166, 153, 0.2);
		}
	}
	.indicator {
		background-color: #26a69a;
	}
}

body,
#log-container {
	@extend .horizontal-scroll;
	&::-webkit-scrollbar {
		width: 0.5rem;
		background-color: #f5f5f5;
	}
}

#line-chart {
	.line {
		stroke: #9e9e9e;
		stroke-width: 2px;
		fill: none;
	}
	.point {
		fill: #26a69a;
		stroke: white;
		stroke-width: 2px;
		cursor: pointer;
		transition: transform 0.1s ease-in-out;
		transform-box: fill-box;
		transform-origin: center;
		&:hover {
			transform: scale(1.5);
		}
		&:focus {
			outline: none;
		}
	}
	.initial {
		fill: red;
	}
	.end {
		fill: red;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
